#profile-minecraft.linked {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  flex: 1;
  gap: 16px;
  .render {
    aspect-ratio: 1;
    min-width: 250px;
    flex:1;
  }
  .data {
    flex:1;
    max-width: 100%;
    width: 100%;
    min-width: 300px;
    margin: 16px auto 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    div {
      display: table;
    }
    .username {
      font-size: var(--size-font-subheader);
      line-height: var(--size-font-subheader);
      font-family: minecraft;
      margin: 0;
    }
    .actions {
      margin-top: 16px;
      margin-bottom: 8px;
    }
  }
  &.mobile {
    grid-template-columns: 100%;
    .data {
      max-width: 100%;
    }
  }
}
#to-link-account {
  margin: auto;
  width: 50%;
  text-align: center;
}
