#profile-view {
  min-height: 100%;
  flex: 1;
  max-width: 100vw;
  margin: 8px 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  #profile-navigation {
    max-width: 250px;
    height: 100%;
    display: flex;
  }
  #profile-content {
    display: flex;
    #overview {
      flex: 1;
      #overview-header {
        background-color: var(--color-theme-D1);
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 32px;
        gap: 32px;
        box-sizing: border-box;
        #profile-data {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-top: 12px;
          gap: 12px;
          #profile-name {
            font-family: minecraft;
            font-size: var(--size-font-subheader);
            height: 34px;
            line-height: 34px;
          }
        }
      }
      #overview-status {
        display: flex;
        flex-direction: row;
        gap: 8px;
        margin-top: 8px;
      }
    }
  }
}
