#profile-overview {
  display: flex;
  flex-direction: column;
  flex: 1;
  #overview-header {
    background-color: var(--color-theme-D1);
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 32px;
    gap: 32px;
    box-sizing: border-box;
    #profile-avatar
    {
      width: 96px;
      aspect-ratio: 1/1;
      image-rendering: pixelated;
    }
    #profile-data {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-top: 12px;
      gap: 12px;
      #profile-name {
        font-family: minecraft;
        font-size: var(--size-font-subheader);
        height: 34px;
        line-height: 34px;
      }
    }
  }
  #overview-status {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    flex-direction: row;
    gap: 8px;
    margin-top: 8px;
  }
  #cape-item
  {
    display: flex;
    flex-direction: column;
    max-width: 128px;
    margin: 0 auto;
  }
}
