#profile-base {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  flex: 1;
  gap: 16px;
  .render {
    aspect-ratio: 1;
    min-width: 40vw;
    flex:1;
  }
  .data {
    flex:1;
    max-width: 100%;
    width: 100%;
    min-width: 400px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    #data-minimal {
      margin-left: 8px;
      margin-top: 4px;
    }
  }
  &.mobile {
    grid-template-columns: 100%;
    .data {
      max-width: 100%;
    }
  }
}
