.placeholders {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  gap: 4px;
  margin-top: 16px;
}
.outfits {
  padding: 8px;
  box-sizing: border-box;
}
#header
{
  background-color: var(--color-theme-D1);
  margin: 8px 8px 0px;
  padding: 24px 16px 64px;
}