.outfits {
  padding: 8px;
  box-sizing: border-box;
}
.wardrobe-view {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  .outfits-list,
  .sets-list {
    margin-top: 16px;
  }
  .search-btn {
    width: 300px;
    margin-top: 4px;
  }
  &.mobile {
    display: flex;
    flex-direction: column;
    .outfits-list,
    .sets-list {
      margin-top: 4px;
    }
    .wardrobe-categories {
      position: static;
      height: auto !important;
    }
    .search-btn {
      width: 100%;
      min-width: 90vw;
      margin-top: 0px;
    }
    .outfits {
      padding: 4px;
    }
  }
  .wardrobe-categories {
    position: fixed;
    z-index: 5;
    height: calc(100vh - 60px);
  }
  .filler {
    width: 300px;
  }
}
.placeholders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 4px;
  margin-top: 16px;
}
