.outfits-list,
.sets-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));

  gap: 8px;
  margin-top: 8px;
}
#new-set,
#new-outfit {
  display: inline;
  vertical-align: top;
  margin-left: 12px;
  margin-top: 4px;
}
.outfits {
  padding: 16px;
  box-sizing: border-box;
}
.wardrobe-view {
  display: grid;
  width: 100%;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  height: calc(100vh - 60px);
  box-sizing: border-box;
}
.wardrobe-categories
{
  position: fixed;
  height: calc(100vh - 60px);
}