.outfits-list,
.sets-list {
  margin-top: 16px;
}
#new-set,
#new-outfit {
  display: inline;
  vertical-align: top;
  margin-left: 12px;
  margin-top: 4px;
}
.outfits {
  padding: 16px;
  box-sizing: border-box;
}
.wardrobe-view {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  height: calc(100vh - 60px);
  box-sizing: border-box;
  .search-btn {
    width: 300px;
  }
  &.mobile {
    display: flex;
    flex-direction: column;
    .wardrobe-categories {
      position: static;
      height: auto !important;
     
    }
    .outfits-list,
    .sets-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
      gap: 8px;
    }
    .search-btn {
      width: 100%;
      min-width: 90vw;
    }
    .outfits {
      padding: 8px;
    }
  }
  .wardrobe-categories {
    position: fixed;
    z-index: 5;
    height: calc(100vh - 60px);
  }
  .filler {
    width: 300px;
  }
}
.placeholders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  gap: 8px;
  margin-top: 16px;
}
