.item-page {
  display: flex;
  margin: 30px auto;
  max-width: 180vh;
  flex: 1;
  .render-data {
    overflow: hidden;
    flex: 1;
    display: block;
    margin-left: 30px;
    max-height: calc(100vh - 120px);
    position: sticky;
    min-height: 100px;
    min-width: 100px;
    top: 90px;
    aspect-ratio: 1/1;
    @media (max-width: 768px) {
      max-height: 100vw;
    }
    .render {
      max-width: 100%;
      transition: var(--time);
      aspect-ratio: 1/1;
      outline: 3px solid transparent;
      box-sizing: border-box;
    }
  }
  .item-data {
    flex: 1;
    display: block;
    margin: 40px auto 20px;
    padding: 24px;
    box-sizing: border-box;
    max-width: 75vw;
    .data {
      max-width: 600px;
      margin: auto;
    }
    .item-variants {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
      gap: 8px;
      max-width: 100%;
    }
    #item-description {
      text-align: justify;
      color: var(--color-theme-D6);
      font-size: var(--size-font-subtitlealt);
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      letter-spacing: 0.1px;
      line-height: 1.2rem;
    }
    .item-name {
      #item-title {
        margin: 4px 0px 10px;
        display: flex;
        gap: 8px;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .item-page {
    margin: 0px;
    min-width: none;
    flex-direction: column;
    .render-data {
      position: static;
      margin: 0px;
    }
    .item-data {
      max-width: 100vw;
      margin: 12px 0px;
      width: 100%;
      padding: 0px 12px;
      .data {
        max-width: 100%;
      }
    }
  }
}
