#nav
{
    background-color:var(--color-theme-D6);
    color:var(--color-theme);
    font-family: minecraft;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
}