#nav {
  background-color: var(--color-theme-D6);
  color: var(--color-theme);
  font-family: minecraft;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  .menu-button {
    display: none;
  }
  @media (max-width: 768px) {
    .menu-button {
      display: block;
      position: absolute;
      z-index: 5;
    }
  }
  #nav-title {
    font-size: larger;
    display: flex;
    gap: 16px;
    padding: 8px 16px;
    @media (max-width: 768px) {
      padding-left: 64px;
    }
  }
  .nav-filler {
    transition: opacity 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
  }
  &.opened {
    @media (max-width: 768px) {
      .items {
        transform: translateX(0);
        display: flex;
        z-index: 3;
      }
      .nav-filler {
        opacity: 1;
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: 2;
      }
    }
  }
  &.closed {
    @media (max-width: 768px) {
      .items {
        transform: translateX(-100%);
      }
      .nav-filler {
        opacity: 0;
      }
    }
  }
  .items {
    transition: 0.3s cubic-bezier(0.1, 0.9, 0.2, 1);
    background-color: var(--color-theme-D6);
    display: flex;
    gap: 8px;
    @media (max-width: 768px) {
      flex-direction: column;
      position: absolute;
      height: 100vh;
      left: 0px;
      top: 0;
      padding: 64px 8px 8px;
      box-sizing: border-box;
      min-width: calc(min(100vw, 400px));
    }
  }
}
#content {
  margin-top: 60px;
  display: table;
  max-width: 100vw;
  width: 100%;
}
