#nav {
  background-color: var(--color-theme-font);
  color: var(--color-theme);
  font-family: minecraft;
  height: 60px;
  padding: 10px 5px 10px 10px;
  box-sizing: border-box;
  display: flex;
  z-index: 10;
  gap: 8px;
  position: fixed;
  top: 0;
  width: 100%;
  .menu-button {
    display: none;
  }
  @media (max-width: 768px) {
    padding: 10px 10px 10px 10px;
    .menu-button {
      display: block;
      position: absolute;
      z-index: 5;
    }
    #nav-title {
      width: 100%;
      flex:1;
      justify-content: center;
    }
  }
  #nav-title {
    text-align: center;
    font-size: larger;
    display: flex;
    gap: 16px;
    padding: 8px 16px;
    @media (max-width: 768px) {
      padding-left: 64px;
    }
  }
  .nav-filler {
    transition: opacity var(--time) cubic-bezier(0.1, 0.9, 0.2, 1);
  }
  &.opened {
    @media (max-width: 768px) {
      .items {
        transform: translateX(0);
      }
      .nav-filler {
        opacity: 1;
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: 2;
      }
    }
  }
  &.closed {
    @media (max-width: 768px) {
      .items {
        transform: translateX(-100%);
      }
      .nav-filler {
        opacity: 0;
        position: absolute;
      }
    }
  }
  .items {
    flex: 1;
    transition: var(--time) cubic-bezier(0.1, 0.9, 0.2, 1);
    background-color: var(--color-theme-font);
    display: flex;
    gap: 8px;
    @media (max-width: 768px) {
      display: flex;
      z-index: 3;
      flex-direction: column;
      position: absolute;
      height: 100vh;
      left: 0px;
      top: 0;
      padding: 64px 8px 8px;
      box-sizing: border-box;
      min-width: calc(min(100vw, 400px));
    }
  }
}
#view {
  margin-top: 60px;
  display: table;
  max-width: 100vw;
  width: 100%;
  min-height: calc(100vh - 60px);
}
.avatar-button {
  img {
    height: 100%;
    width: 100%;
  }
}
