#view-title {
  text-align: center;
  font-size: var(--size-font-header);
}
#content {
  max-width: 100vw;
  padding: 8px;
  box-sizing: border-box;
  .list-title {
    margin-bottom: 8px;
  }
  .banner {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-theme-D1);
    padding: 16px;
    box-sizing: border-box;
  }
  &.mobile {
    padding: 4px;
    box-sizing: border-box;
  }
}
.placeholders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 4px;
  margin-top: 16px;
}