#wardrobe-view {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  #content {
    margin: 0px;
  }
  &.mobile {
    grid-template-columns: 100%;
    grid-template-rows: 50px 1fr;
    margin: 0px 8px;
    gap:0px;
    #content {
      overflow: hidden;
      margin-top:20px;
    }
    #navigation {
      max-width: 100%;
      margin-top: 8px;
      width: 100%;
      max-width: 100%;
      div {
        top: 8px;
      }
      &.opened {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  #navigation {
    margin-top: 8px;
    display: block;
    max-width: 250px;
    min-width: none;
    div {
      position: sticky;
      top: 68px;
    }
    &.opened {
      width: 25vw;
      max-width: 250px;
    }
  }
}
