#wardrobe-view {
  width: 100%;
  margin: 0px 16px;
  display: grid;
  grid-template-columns: auto 1fr;
  &.mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    margin: 0px;
    #content {
      max-width: 100%;
      width: 100%;
      #content-header {
        margin-top: 16px;
        grid-template-columns: 32px 1fr;
        top: 0px;
        padding: 8px 8px 8px;
        box-sizing: border-box;
        #content-filters {
          max-width: 100%;
        }
      }
      #content-list {
        margin: 0;
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
      }
    }
    #navigation {
      max-width: 100%;
      margin-top: 8px;
      width: 100%;
      max-width: 100%;
      div {
        top: 8px;
        margin: 0px 8px;
      }
      &.opened {
        width: 100vw;
        max-width: 100%;
      }
    }
  }
  #content {
    #content-header {
      position: sticky;
      top: 60px;
      z-index: 5;
      background-color: var(--color-theme);
      padding: 8px 0px 8px 0px;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr auto 300px;
      gap: 8px;
      #content-filters {
        display: grid;
        min-width: 120px;
        max-width: 200px;
      }
    }
    #content-list {
      margin: 0px 0px 8px 16px;
    }
  }
  #navigation {
    margin-top: 8px;
    display: block;
    max-width: 250px;
    min-width: none;
    div {
      position: sticky;
      top: 68px;
    }
    &.opened {
      width: 25vw;
      max-width: 250px;
    }
  }
}
