#wardrobe-collections {
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  #content-header {
    position: sticky;
    top: 60px;
    z-index: 10;
    display: grid;
    grid-template-columns: 1fr auto 300px;
    gap: 8px;
    padding: 16px 0px;
    background-color: var(--color-theme);
  }
  &.mobile
  {
    #content-header {
      position: static;
      grid-template-columns: auto 1fr;
      padding: 8px;
    }
  }
}
