#wardrobe-collections {
  &.mobile {
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    margin: 0px;
    max-width: 100%;
    width: 100%;
    #content-header {
      margin-top: 16px;
      grid-template-columns: 32px 1fr;
      top: 0px;
      padding: 8px 8px 8px;
      box-sizing: border-box;
      #content-filters {
        max-width: 100%;
      }
    }
    #content-list {
      width: calc(100vw - 16px);
      margin: 8px;
    }
  }
  #content-header {
    position: sticky;
    top: 60px;
    z-index: 5;
    background-color: var(--color-theme);
    padding: 16px 0px 8px 0px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr auto 300px;
    gap: 8px;
    #content-filters {
      display: grid;
      min-width: 120px;
      max-width: 200px;
    }
  }
}
