#profile-view {
  height: 100vh;
  max-width: 100vw;
  display: grid;
    grid-template-columns: auto 1fr;
  .render-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 100px;
    max-height: calc(100vh - 60px);
    max-width: 100vw;
    position: sticky;
    top: 60px;
    padding: 30px;
    box-sizing: border-box;
    .render {
      aspect-ratio: 1/1;
      height: 100%;
      width: 100%;
      max-width: 100vw;
      max-height: calc(100vh - 240px);
       }
    .render-actions {
      padding: 10px;
      box-sizing: border-box;
      .render-opt
      {
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        button
        {
          flex:1;
        }
      }
    }
  }
  .data-area {
    padding: 30px;
    box-sizing: border-box;
  }
  &.mobile {
    grid-template-columns: auto;
    .render-area {
      flex: 1;
      display: table;
      padding: 0px;
      max-height: 100vw;
      position: static;
    }
    .data-area {
      padding: 8px;
    }
  }
}
