#profile-view {
  height: 100%;
  max-width: 100vw;
  .header-area {
    background-color: var(--color-theme-D1);
    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr;
    gap: 16px;
    flex-direction: row;
    margin: 10px;
    padding: 16px;
    box-sizing: border-box;
    .header-image {
      aspect-ratio: 1/1;
      min-height: 200px;
      min-width: 200px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .header-name,
    .header-social {
      flex: 1;
      max-width: 300px;
    }
  }
  &.mobile {
    .header-area {
      display: flex;
      flex-direction: column;
      margin: 0px;
    }
  }
}
.auth-dialog {
  padding: 16px;
  display: flex;
  flex-direction: column;
  .dialog-header {
    display: flex;
    gap: 16px;
    flex-direction: row;
    h1 {
      flex: 1;
      margin: 0px;
    }
  }
}
.profile-cards {
  display: flex;
  width: 100%;
  min-height: 200px;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
}

.profile-card {
  flex: 1;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  padding: 10px;
  max-width: 15vw;
  background-color: var(--color-theme-D1);
  .main-data
  {
    display: grid;
    place-items: center;
  }
  .actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    * {
      flex: 1;
    }
  }
}
