.item-page {
  display: flex;
  margin: 30px;
  .render-data {
    flex: 1;
    max-height: calc(100vh - 120px);
    position: sticky;
    top: 90px;
    @media (max-width: 768px) {
      max-height: 100vw;
    }
    .render {
      max-height: 100%;
      transition: var(--time);
      aspect-ratio: 1/1;
      outline: 3px solid transparent;
      box-sizing: border-box;
      &.drop-hover {
        outline-color: var(--color-accent);
      }
    }
  }
  .item-data {
    flex: 1;
    margin: 40px auto;
    padding: 24px;
    box-sizing: border-box;
    max-width: 75vw;
    .data {
      max-width: 600px;
      margin: auto;
    }
    .item-variants {
      display: flex;
      gap: 8px;
    }
    .item-name {
      #item-title {
        margin: 4px 0px 10px;
      }
    }
    .item-actions {
      display: flex;
      gap: 8px;
      button {
        flex: 1;
        font-size: larger;
      }
      button.icon {
        flex: 0;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .item-page {
    margin: 0px;
    min-width: none;
    flex-direction: column;
    .render-data {
      position: static;
    }
    .item-data {
      max-width: 100vw;
      margin: 10px 0px;
      width: 100%;
      padding: 0px 10px;
      .data {
        max-width: 100%;
      }
    }
  }
}
