.item-page {
  display: flex;
  margin: 30px;
  .render-data {
    flex: 1;
    display: block;
    max-height: calc(100vh - 120px);
    position: sticky;
    top: 90px;
    @media (max-width: 768px) {
      max-height: 100vw;
    }
    .render {
      max-height: 100%;
      max-width: 100%;
      transition: var(--time);
      aspect-ratio: 1/1;
      outline: 3px solid transparent;
      box-sizing: border-box;
      &.drop-hover {
        outline-color: var(--color-accent);
      }
    }
  }
  .item-data {
    flex: 1;
    display: block;
    margin: 40px auto;
    padding: 24px;
    box-sizing: border-box;
    max-width: 75vw;
    .data {
      max-width: 600px;
      margin: auto;
    }
    .item-name {
      #item-title {
        margin: 4px 0px 10px;
      }
    }
    .item-layers {
      display: flex;
      flex-direction: column;
      form {
        margin-top: 8px;
        gap: 8px;
        button {
          flex: 1;
          min-width: 200px;
          font-size: larger;
        }
      }
    }
    #item-description {
      width: 100%;
      min-height: 60px;
      max-height: 400px;
      text-align: justify;
      color: var(--color-theme-D6);
      font-size: var(--size-font-base);
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      box-sizing: border-box;
      letter-spacing: 0.1px;
    }
    .item-actions {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      button {
        flex: 1;
        font-size: larger;
      }
      button.icon {
        flex: 0;
      }
    }
  }
}
.outfit-picker-dialog {
  margin: 16px;
  div {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 700px) {
  .item-page {
    margin: 0px;
    min-width: none;
    flex-direction: column;
    .render-data {
      position: static;
    }
    .item-data {
      max-width: 100vw;
      margin: 10px 0px;
      width: 100%;
      padding: 0px 10px;
      .data {
        max-width: 100%;
      }
    }
  }
  .item-actions {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;

    a,
    #share-package-action {
      width: 100%;
    }
  }
}
.item-view-placeholder {
  display: flex;
  width: 100%;
  gap: 30px;
  min-height: calc(100vh - 120px);
  * {
    flex: 1;
  }
}
