.layout {
  display: flex;
  height: calc(100vh - 60px);
  .list {
    flex: 1;
  }
}
.test {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(auto-fill, minmax(100px, 200px)); // Repeat columns with a minimum width of 100px and a flexible width
  grid-gap: 10px; // Optional: Add some gap between the grid items
}