#collection-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  #collection-actions {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  #collection-header {
    background-color: var(--color-theme-D1);
    margin: 0px 0px 8px;
    box-sizing: border-box;
    padding: 32px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    #collection-info {
      display: flex;
      gap: 8px;
    }
    h1 {
      margin: 0px;
      font-size: var(--size-font-subheader);
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 8px;
    }
    p {
      font-size: var(--size-font-base);
      margin: 16px auto 0px;
    }
  }
  #collection-items
  {
    max-width: 100%;
  }
  &.mobile
  {
    margin: 8px;
    box-sizing: border-box;
  }
}
