#item-page {
  max-width: 100%;
  width: 1800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px auto;
  #item-render {
    min-width: 300px;
    max-width: 50vw;
    flex: 2;
    #render {
      position: sticky;
      top: 90px;
      display: block;
      overflow: hidden;
      aspect-ratio: 1;
      max-height: calc(100vh - 120px);
      max-width: calc(100% - 70px);
      margin: 30px;
      & #render-node {
        margin: 5px;
      }
    }
  }
  #item-data {
    flex: 1;
    min-width: 200px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 90px 60px 0px;
    gap: 4px;
    #item-data-title {
      max-width: 95%;
    }
    #item-data-layers {
      margin-top: 8px;
    }
    #item-data-description {
      margin-bottom: 16px;
      #description-input {
        width: 100%;
      }
    }
  }
  &.mobile {
    #item-render {
      max-width: 100%;
      #render {
        max-height: calc(100vh - 60px);
        max-width: 100%;
        margin: 0px;
        & #render-node {
          margin: 0px;
        }
      }
    }
    #item-data {
      margin: 10px;
    }
  }
}
