#item-page {
  max-width: 100%;
  width: 1800px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0px auto;
  #item-render {
    flex: 2;
    min-width: 300px;
    max-width: 100%;
    #render {
      display: block;
      overflow: hidden;
      aspect-ratio: 1;
      max-height: calc(100vh - 120px);
      max-width: calc(100% - 60px);
      margin: 30px;
    }
  }
  #item-data {
    flex: 1;
    min-width: 300px;
  }
  &.mobile {
    #item-render {
      #render {
        max-height: calc(100vh - 60px);
        max-width: 100%;
        margin: 0px;
      }
    }
  }
}
