.outfits {
  padding: 12px;
  box-sizing: border-box;
}
.wardrobe-view {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  box-sizing: border-box;
  .search-btn {
    width: 300px;
  }
  .header {
    display: flex;
    padding: 12px 12px 4px;
  }
  &.mobile {
    display: flex;
    flex-direction: column;
    .wardrobe-categories {
      position: static;
      height: auto !important;
      max-width: 100vw;
    }
    .header
    {
      padding: 4px 4px 0px;
    }
    .search-btn {
      width: 100%;
      min-width: 90vw;
      margin-top: 0px;
    }
    .outfits {
      padding: 4px;
    }
  }
  .wardrobe-categories {
    position: sticky;
    top: 60px;
    z-index: 5;
    height: calc(100vh - 60px);
  }
}
