.item-page {
  display: flex;
  .render-data {
    flex: 1;
    max-height: calc(100vh - 20px);
    position:sticky;
    top: 10px;
    .render{
      max-height: 100%;
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
  .item-data {
    flex: 1;
    margin: 60px auto;
    padding: 24px;
    box-sizing: border-box;
    max-width: 800px;
    .item-model {
      display: flex;
    }
    .item-layers
    {
      display: flex;
      flex-direction: column;
      #add-layer-action
      {
        flex: 1;
        font-size: larger
      }
    }
    .item-actions {
      display: flex;
      #download-action
      {
        flex: 1;
        font-size: larger
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .item-page {
    flex-direction: column;
    .render-data
    {
      position: static;
    }
    .item-data
    {
      margin: 10px auto;
      width: 100%;
      padding: 0px;
    }
  }
}
