.item-page {
  display: flex;
  margin: 30px;
  .render-data {
    flex: 1;
    max-height: calc(100vh - 120px);
    position: sticky;
    top: 30px;
    .render {
      max-height: 100%;
      aspect-ratio: 1/1;
    }
  }
  .item-data {
    flex: 1;
    margin: 40px auto;
    padding: 24px;
    box-sizing: border-box;
    max-width: 75vw;
    .data {
      max-width: 600px;
      margin: auto;
    }
    .item-model {
      display: flex;
    }
    .item-name {
      #item-title {
        margin: 4px 0px 10px;
      }
    }
    .item-layers {
      display: flex;
      flex-direction: column;
      #add-layer-action {
        flex: 1;
        font-size: larger;
      }
    }
    .item-actions {
      display: flex;
      #download-action {
        flex: 1;
        font-size: larger;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .item-page {
    margin: 0px;
    min-width: none;
    flex-direction: column;
    .render-data {
      position: static;
    }
    .item-data {
      max-width: 100vw;
      margin: 10px 0px;
      width: 100%;
      padding: 0px 10px;
      .data {
        max-width: 100%;
      }
    }
  }
}
