#item-page {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  #item-render {
    min-width: 300px;
    max-width: 50vw;
    flex: 2;
    #render {
      position: sticky;
      top: 76px;
      display: block;
      overflow: hidden;
      aspect-ratio: 1;
      max-height: calc(100vh - 100px);
      max-width: 100%;
      margin: 16px 16px 16px 0px;
      & #render-node {
        margin: 5px;
      }
    }
  }
  #item-data {
    flex: 1;
    min-width: 27vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 90px 0px 120px 30px;
    #item-data-title {
      font-family: minecraft;
      font-size: var(--size-font-subheader);
      margin-bottom: 4px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    #item-data-type {
      margin-top: 8px;
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
    #item-data-layers {
      margin-top: 8px;
    }
    #item-data-integration {
      margin-bottom: 8px;
    }
    #item-data-description {
      margin-bottom: 16px;
      #item-description {
        width: 100%;
        font-size: var(--size-font-caption);
      }
    }
    #item-data-minimal {
      margin: 12px 8px 12px;
    }
    #item-data-action {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }
  &.mobile {
    margin: 0px;
    #item-render {
      max-width: 100%;
      #render {
        max-height: calc(100vh - 54px);
        max-width: 100%;
        margin: 0px;
        & #render-node {
          margin: 0px;
        }
      }
    }
    #item-data {
      margin: 10px;
      #item-data-action {
        display: grid;
        grid-template-columns: auto;
      }
    }
  }
}
