#collection-view {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  #collection-header {
    background-color: var(--color-theme-D1);
    margin: 8px 0px;
    box-sizing: border-box;
    padding: 32px;
    h1 {
      margin: 0px;
      font-size: var(--size-font-subheader);
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 8px;
    }
    p {
      font-size: var(--size-font-base);
      margin: 16px auto 0px;
    }
  }
}
