#view-title {
  text-align: center;
  font-size: var(--size-font-header);
}
#content {
  flex: 1;
  max-width: 100%;
  padding: 8px 0px;
  box-sizing: border-box;
  .list-title {
    margin-bottom: 8px;
  }
  .banner {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-theme-D1);
    padding: 16px;
    box-sizing: border-box;
  }
  &.mobile {
    box-sizing: border-box;
    padding: 8px;
  }
}
