@font-face {
  font-family: minecraft;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  ascent-override: 100%;
  src: url(/font/minecraftBolder.woff) format("truetype");
}
@font-face {
  font-family: minecraft-simple;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/minecraftSimple.woff2) format("truetype");
  -webkit-font-smoothing: antialiased; /* For WebKit-based browsers */
  -moz-osx-font-smoothing: grayscale; /* For macOS */
  text-rendering: optimizeLegibility; /* Optimize for legibility */
  font-smoothing: antialiased; /* Standard property */
}
@font-face {
  font-family: minecraft-micro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/minecraft-micro.ttf) format("truetype");
}
:root {
  --shadow-button:inset -2px -2px #0006, inset 2px 2px #fff7;
  --color-theme-font: #222222;
  --color-accent: #3b8526;
  --color-accent-L2: #8be468;
  --color-accent-L1: #6bc349;
  --color-accent-D1: #2a631c;
  --color-accent-D2: #214717;
  --color-unique: #e79836;
  --color-unique-A1: #ec620e;
  --color-rare: #1de495;
  --color-rare-A1: #0ebd77;
  --color-legend: #ca31e9;
  --color-legend-A1: rgb(146, 8, 146);
  --color-ancient: #f8604c;
  --color-ancient-A1: #be4b3b;
  --color-common: #c6c6c6;
  --color-common-A1: #888;
  --color-accent-font: #fff;
  --color-active: #4a494b;
  --color-active-L1: #8d8e92;
  --color-active-D1: #000;
  --color-hover: #3d3938;
  --color-hover-L1: #8d8e92;
  --color-hover-D1: #171615;
  --time: 0.3s;
  --time-A1: 0.6s;
  --color-theme-L1: #fcfcfc;
  --color-theme: #f2f2f2;
  --color-theme-D1: #e2e2e2;
  --color-theme-D2: #c2c2c2;
  --color-theme-D3: #a2a2a2;
  --color-theme-D4: #828282;
  --color-theme-D5: #626262;
  --color-theme-D6: #424242;
  --color-theme-D7: #282828;
  --size-font-icon: 13px;
  --size-font-subcaption: 10px;
  --size-font-caption: 14px;
  --size-font-base: 16px;
  --size-font-subtitle: 20px;
  --size-font-title: 24px;
  --size-font-subheader: 34px;
  --size-font-header: 46px;
  --color-dialog: rgba(0, 0, 0, 0.6);
  --color-warning: #f3c995;
  --color-info: #3b6dd8;
  --color-error: #b84343;
}
@keyframes Blink {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes FabPeek {
  0% {
    max-width: 300px;
  }
  100% {
    max-width: 42px;
  }
}
::selection {
  background-color: rgba(107, 195, 73, 0.7);
  color: var(--color-accent-font);
}
body {
  font-family:"Noto Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  margin: 0;
  background-color: var(--color-theme);
  overflow-y: scroll;
}
.disabled {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: minecraft;
}
br {
  user-select: none;
}
.caption {
  font-size: small;
  color: var(--color-theme-D6);
  font-family: minecraft;
  margin: 8px 0;
  display: table;
  user-select: none;
}
.font-caption {
  font-size: var(--size-font-caption);
  font-family: Arial, Helvetica, sans-serif;
}
.font-base {
  font-size: var(--size-font-caption);
  font-family: Arial, Helvetica, sans-serif;
}
.font-subtitle {
  font-size: var(--size-font-subtitle);
  font-family: minecraft;
}
.font-title {
  font-size: var(--size-font-title);
  font-family: minecraft;
}
.font-subheader {
  font-size: var(--size-font-subheader);
  font-family: minecraft;
}
.font-header {
  font-size: var(--size-font-header);
  font-family: minecraft;
}
.list {
  display: flex;
  flex-direction: column;
}
.list.horizontal {
  flex-direction: row;
}
.list.small > .item {
  border: 1px solid red;
  padding: 4px;
  box-sizing: border-box;
}
.separator.vertical {
  width: 1px;
  border-left: solid 2px var(--color-theme-D2);
  margin: 10px 4px;
}
.separator.horizontal {
  height: 1px;
  border-bottom: solid 2px var(--color-theme-D2);
  margin: 4px 10px;
  width: 100%;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.inline {
  display: inline !important;
}
.title {
  font-family: minecraft;
  font-size: var(--size-font-subheader);
  border: 0;
  background-color: transparent;
  outline: 0;
  border-bottom: 2px solid transparent;
  width: 100%;
}
.title-input {
  font-family: minecraft;
  font-size: var(--size-font-subheader);
  border: 0;
  padding-bottom: 4px;
  background-color: transparent;
  outline: 0;
  border-bottom: 2px solid transparent;
  width: 100%;
}
.title-input:hover {
  border-bottom: 2px solid var(--color-active-L1);
}
input {
  font-family: minecraft-simple;
  font-size: var(--size-font-base);
  border: 0;
  background-color: transparent;
  outline: 0;
  border-bottom: 2px solid transparent;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
input:hover {
  border-bottom: 2px solid var(--color-active-L1);
}
.icon-small > svg {
  transform: scale(0.75);
}
.icon-big > svg {
  transform: scale(1.25);
}
.b-icon-small > svg {
  transform: scale(0.7);
}
.b-icon-large > svg {
  transform: scale(1);
}
.b-icon-medium > svg {
  transform: scale(0.75);
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: 2px solid var(--color-theme-D4);
  outline: none;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
  color: var(--color-theme-font);
}
.mc-font {
  font-family: minecraft;
}
.mc-font-simple {
  font-family: minecraft-simple;
}
.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  flex-direction: row;
}
